:root {
    background-color: rgb(0, 0, 0, 0);
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

body {
    background-image: linear-gradient(348deg, rgba(37,38,47,1) 0%, rgba(25,25,25,1) 54%, rgba(65,69,69,1) 100%);
    /*background: linear-gradient(129deg, rgba(78,78,80,1) 0%, rgba(7,6,5,1) 71%, rgba(132,108,94,1) 100%);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 { /* counter */
    font-size: 4.4rem;
    color: #ffffff;
    margin-bottom: 5rem;
}

h1 > span {
    font-size: 2rem;
    font-weight: 500;
}

h2 { /* question */
    font-size: 2.2rem;
    margin-bottom: 0rem;
    font-weight: 700;
    vertical-align: middle;
    margin-bottom: 1.6rem;
}

h3 { /* categories */
    font-size: 2.1rem;
    font-weight: 400;
}

h4 { /* percentage */
    font-size: 2.1rem;
    font-weight: 700;
}

h5 { /* end result */
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h6 { /* counter */
    font-size: 4.4rem;
    color: #a0a5ce;
    margin-bottom: 5rem;
}


/* //General styling */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 64rem;
    margin: 0 auto;
    background-color: rgb(0, 0, 0, 0);
}

.container > * {
    width: 100%;
    padding: 2rem;
}

#divider {
    width: 100%;
    max-width: 54rem;
    height: 0.1rem;
    background-color: rgb(85, 85, 85);
    padding-left: 2rem;
    padding-right: 2rem;
}

#divider-bottom {
    width: 100%;
    max-width: 54rem;
    height: 0.1rem;
    background-color: rgb(85, 85, 85);
    margin-bottom: 5.8rem;
}

#callout {
    width: 0.3rem;
    height: 100;
    background-color: rgb(85, 85, 85);
    margin-right: 2.5rem;
}

.test-size {
    flex: center;
    width: 100%;
    height: 58rem;
    max-width: 54rem;
}

.book-size {
    flex: center;
    width: 100vw;
    height: 112rem;
    max-width: 54rem;
}

.copy-size {
    width: 100%;
    max-width: 54rem;
    height: 100rem;
    padding: 1.4rem;
}

.tofp {
    position: absolute;
    top: 30px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-side {
    display: flex;
    flex-direction: row;
    max-width: 54rem;
}

.flex-text {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        max-width: 58rem;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.padding-top {
    padding-top: 4.5rem;
}

.padding-space {
    padding: 0.4rem;
}

.padding-bottom {
    padding-bottom: 3.4rem;
}

.justify-center {
    justify-content: center;
}

#blank {
    margin-bottom: 2.2rem;
}

.hidden {
    display: none;
}

.transparent {
    background-color: transparent;
}

.btn {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid rgb(175, 175, 175);
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #a0a5ce;
    background-color: #191919;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(99, 99, 99, 0.4);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
    transition: transform 150ms;
}



/* //Test styling */

#progressBar {
    width: 20rem;
    height: 0.6rem;

}

#progressBarFull {
    height: 0.6em;
    width: 0%;
    background-color: rgb(175, 175, 175);
    border-radius: 0.3rem;
}

.choice-container {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(51, 51, 51);
    border-radius: 1.5rem;
    background-color: #191919;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(99, 99, 99, 0.25);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #202020;
    border-radius: 1.5rem;
    color: #a0a5ce;
    font-weight: 600;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
    font-weight: 500;
}

.selected {
    color: #a0a5ce;
}

#hud {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hud-prefix {
    text-align: center;
    font-weight: 500;
    padding-top: 2rem;
}

.hud-main-text {
    text-align: right;
    padding-left: 2rem;
}

.page {
    display: none;
}

.page.active {
    display: block;
}
