:root {
    background-color: #191919;
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

/* Game font formatting */

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 { /* counter */
    font-size: 4.4rem;
    color: #a0a5ce;
    margin-bottom: 5rem;
}

h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 { /* question */
    font-size: 2.2rem;
    margin-bottom: 0rem;
    font-weight: 700;
    vertical-align: middle;
    margin-bottom: 1.6rem;
}

h3 { /* categories */
    font-size: 2.1rem;
    font-weight: 400;
}

h4 { /* percentage */
    font-size: 2.1rem;
    font-weight: 700;
}

h5 { /* end result */
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h6 { /* title */
    font-size: 5.4rem;
    color: #a0a5ce;
    margin-bottom: 5rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 53rem;
    margin: 0 auto;
    padding: 2rem;
}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-side {
    display: flex;
    flex-direction: row;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.padding-top {
    padding-top: 4.5rem;
}

.padding-space {
    padding: 0.4rem;
}

.padding-bottom {
    padding-bottom: 3.4rem;
}

.justify-center {
    justify-content: center;
}